In [28]:
import pandas as pd
a = 'KT_fielding_C.csv'
b = 'merged_C.csv'
#인코딩 이슈
#df_ch = pd.read_csv(a, encoding='euc-kr')
#df_ch.to_csv(a)

df_ch = pd.read_csv(a)
df_cl = pd.read_csv(b)


df_ch = df_ch.drop(['Unnamed: 0'],axis=1)
#df_cl = df_cl.drop(['UNNAMED: 0'],axis=1)
#df_cl = df_cl.drop(['RANK'],axis=1)
print(df_ch.columns)
print(df_cl.columns)

print(len(df_ch.columns))
print(len(df_cl.columns))

Index(['Name', 'Team', 'Position', 'Total RAA', 'G', 'GS', 'IP', 'WP', 'PB',
       'Pass9', 'SB', 'CS', 'CS%', 'SBA', 'SBA%', 'SB 2', 'SB 3', 'SB H',
       'SB Double', 'CS 2', 'CS 3', 'CS H', 'CS Double', 'Range RAA',
       'Err RAA', 'CS RAA', 'Blk RAA', 'Frm RAA', '/144'],
      dtype='object')
Index(['NAME', 'TEAM', 'POSITION', 'TOTAL RAA', 'G', 'GS', 'IP', 'WP', 'PB',
       'PASS9', 'SB', 'CS', 'CS%', 'SBA', 'SBA%', 'SB 2', 'SB 3', 'SB H',
       'SB DOUBLE', 'CS 2', 'CS 3', 'CS H', 'CS DOUBLE', 'RANGE RAA',
       'ERR RAA', 'CS RAA', 'BLK RAA', 'FRM RAA', '/144'],
      dtype='object')
29
29

In [29]:
#cather part merge
import pandas as pd

df_ch.columns = [col.upper() for col in df_ch.columns]
df_cl.columns = [col.upper() for col in df_cl.columns]

# df_ch의 컬럼을 기준으로 df_cl의 컬럼명 매핑
# df_ch에 있는 컬럼명만 df_cl에서 선택
matched_columns = [col for col in df_cl.columns if col in df_ch.columns]

# df_cl에서 df_ch와 일치하는 컬럼만 선택
df_cl_matched = df_cl[matched_columns]

# 두 데이터 프레임 병합
merged_df = pd.concat([df_ch, df_cl_matched], ignore_index=True)

# 병합된 데이터 프레임 출력 및 저장
print(merged_df.head())
merged_df.to_csv(b, index=False)

  NAME TEAM POSITION  TOTAL RAA   G  GS     IP  WP  PB  PASS9  ...  CS 2  \
0  장성우   KT        C       2.27  34  31  244.2  10   0  0.368  ...     7
1  김준태   KT        C       0.49  10   3   36.0   1   0  0.250  ...     1
2  조대현   KT        C       0.15   7   1   22.2   1   0  0.397  ...     0
3  강백호   KT        C      -2.89  11   7   66.0   7   1  1.091  ...     1
4  이지영  SSG        C       2.34  38  32  285.1   8   0  0.252  ...    10

   CS 3  CS H  CS DOUBLE  RANGE RAA  ERR RAA  CS RAA  BLK RAA  FRM RAA  /144
0     0     0          0      -0.64     1.11    0.87     0.86      NaN  8.38
1     0     0          0       0.00     0.16   -0.47     0.80      NaN  5.89
2     0     0          0       0.00     0.10     NaN     0.05      NaN  3.12
3     0     0          0      -0.08    -0.70   -0.40    -1.71      NaN -9.90
4     0     1          0      -0.09    -0.19    0.04     2.51      NaN  8.41

[5 rows x 29 columns]